 <!DOCTYPE html>
 <!-- Page Content -->
    <div class="container">
    <body  class="moviepagecolor">


        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Steady Fan
                    <small>Welcome to Steady Fan!</small>
                </h1>
                <h2>
                   <img class="img-responsive" src="http://www.theurbancult.com/wp-content/uploads/2017/01/cover.jpg" alt="">
				</h2>
            </div>
        </div>
         </div>

        

 