<!DOCTYPE html>
<div class="container">
<body class="moviepagecolor"
	<div class="row">
		{{#each alldirectors}}
			<div class="col-md-4">
			<a href="/director/{{this.did}}">
				<div class="thumbnail">
					<div class="caption">
					<h3>{{this.dname}}</h3>	
		
					</div>
				</div>
			</a>
			</div>
		{{/each}}
	</div>
</div>
</div>
