

 <!DOCTYPE html>
 <!-- Page Content -->
    <div class="container">
    <body class="moviepagecolor">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="Genre">Genres
                    <small>All Genres 
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="http://s1.dmcdn.net/H_wyu.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3>Action</h3>
                <h4>Giuseppes #1</h4>
                <p>Action film is a film genre in which the protagonist or protagonists end up in a series of challenges that typically include violence, extended fighting, physical feats, and frantic chases. Action films tend to feature a resourceful hero struggling against incredible odds, which include life-threatening situations, a villain, or a pursuit which generally concludes in victory for the hero. .</p>
                <a class="btn btn-primary" href="/genre/action">View action films <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="http://www.top10films.co.uk/img/superbad_comedy-film.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3>Comedy</h3>
                <h4>Giuseppe #2</h4>
                <p>These films are designed to make the audience laugh through amusement and most often work by exaggerating characteristics for humorous effect. Films in this style traditionally have a happy ending (black comedy being an exception).</p>
                <a class="btn btn-primary" href="/genre/comedy">View comedy films <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="http://www.gablescinema.com/media/filmassets/slides/Casablanca_6.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3>Drama </h3>
                <h4>Giuseppe #3</h4>
                <p>Drama Films are serious presentations or stories with settings or life situations that portray realistic characters in conflict with either themselves, others, or forces of nature. A dramatic film shows us human beings at their best, their worst, and everything in-between.</p>
                <a class="btn btn-primary" href="/genre/drama">View drama films <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="http://theartimmortal.com/wp-content/uploads/2016/11/grizzly-man-5.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3>Documentary</h3>
                <h4>Giuseppe #4</h4>
                <p>A documentary film is a nonfictional motion picture intended to document some aspect of reality, primarily for the purposes of instruction, education, or maintaining a historical record.</p>
                <a class="btn btn-primary" href="/genre/documentary">View documentary films <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="http://i.onionstatic.com/avclub/5106/54/16x9/960.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3>Foriegn Films</h3>
                <h4>Giuseppe #5 </h4>
                <p>World cinema is a term used primarily in English-speaking countries to refer to the films and film industries of non-English-speaking countries. It is therefore often used interchangeably with the term foreign film.</p>
                <a class="btn btn-primary" href="/genre/foriegn films">View foreign films <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

                <!-- Project six -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="http://i.telegraph.co.uk/multimedia/archive/00788/TheShining_788880c.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3>Horror</h3>
                <h4>Giuseppe #6</h4>
                <p>Horror is a genre of fiction which is intended to, or has the capacity to frighten, scare, disgust, or startle its readers or viewers by inducing feelings of horror and terror.</p>
                <a class="btn btn-primary" href="/genre/horror">View horror films <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

                        <!-- Project seven -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="https://s3.amazonaws.com/criterion-production/stills/2726-e9e384f93f844c95919db09fd1dd0ca5/P_original.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3>Romance</h3>
                <h4>Giuseppe #7</h4>
                <p> Romance films make the romantic love story or the search for strong and pure love and romance the main plot focus. Occasionally, romance lovers face obstacles such as finances, physical illness, various forms of discrimination, psychological restraints or family that threaten to break their union of love"</p>
                <a class="btn btn-primary" href="/genre/romance">View romance films <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->


            <hr>
                      <!-- Project eight -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="https://www.sfsymphony.org/getmedia/ee280956-c54f-41a5-b62d-a39c6b98e4e0/2001-Space-Odyssey?width=583&height=335&ext=.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3>Sci-Fi</h3>
                <h4>Giuseppe #8</h4>
                <p>Science fiction (often shortened to SF, sci-fi or scifi) is a genre of speculative fiction, typically dealing with imaginative concepts such as futuristic science and technology, space travel, time travel, faster than light travel, parallel universes, and extraterrestrial life.</p>
                <a class="btn btn-primary" href="/genre/Sci-Fi">View sci-fi films <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
                              <!-- Project eight -->
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-responsive" src="https://i.ytimg.com/vi/K0c2HJ4AO6o/maxresdefault.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3>Thriller</h3>
                <h4>Giuseppe #9</h4>
                <p>Thriller is a broad genre of literature, film and television, having numerous subgenres. Thrillers are characterized and defined by the moods they elicit, giving viewers heightened feelings of suspense, excitement, surprise, anticipation and anxiety.</p>
                <a class="btn btn-primary" href="/genre/thriller">View thriller films <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->



 